div {
  margin-bottom: 8px;
}

h2 {
  font-family: 'Fredoka One', cursive;
  color: black;
  text-align: left;
}

p, span {
  font-family: 'Lato', sans-serif;
}

h4, h5 {
  font-family: 'Recursive', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  margin: 12px 0 16px;
  width: 180px;
}

.App-logo-sparkles {
  font-size: 20px;
  padding: 8px;
}

.Scoring-container div {
  margin: 0 16px 0 0;
  font-size: 14px;
}

.Change-point {
  margin: 4px 16px 0;
  border-radius: 50%;
  padding: 4px;
  width: 16px;
  height: 16px;
}

.Change-point span {
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.Add-point {
  background-color: green;
}

.Subtract-point {
  background-color: red;
}

#number-list {
  width: 600px;
  text-align: left;
  margin-bottom: 16px;
}

#number-list .btn {
  min-width: 40px;
  min-height: 40px;
  margin: 0 16px 0 0;
}

